[Unit]
Description=freeDNS service
Documentation=https://github.com/imafaz/freeDNS
After=network.target
Wants=network.target
PartOf=nginx.service

[Service]
WorkingDirectory=/usr/local/freeDNS/
ExecStart=/usr/local/freeDNS/freeDNS -start
ExecStop=/usr/bin/systemctl stop nginx
ExecStartPost=/usr/bin/systemctl start nginx
Restart=on-failure

[Install]
WantedBy=multi-user.target
